<h2>Search Results</h2>

<div class="results">
<% @results.each do |result| %>
  <% counter = 1 %>
  <div id='result-image'><img src='<%= result.image_url %>'></div>
  <div id='result-name' number = "<%= counter %>"><a href='<%= result.url %>'><%= result.name %></a></div>
  <div id='result-rating'><img src = "<%= result.rating_img_url_large %>"><span>Number of Reviews: <%= result.review_count %></span></div>
  <% counter = counter + 1 %>
  <%= result.rating %>
  <%= result.snippet_text %>
  <%= result.location.city %>
  <br>
<% end %>
</div>

<!-- <iframe
   width="600"
   height="450"
   frameborder="0" style="border:0"
   src= url >
 </iframe> -->

 <script type="text/javascript"
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuf46lcqSNpCDlmoIP0BGz4d2bnG0a4rk">
   </script>
    <script type="text/javascript">
    var stockholm = new google.maps.LatLng(59.32522, 18.07002);
    var parliament = new google.maps.LatLng(59.327383, 18.06747);
    var marker;
    var map;

    function initialize() {
      var mapOptions = {
        zoom: 13,
        center: stockholm,

        //this hides controls from user
        streetViewControl: false,
        panControl: false
      };

      map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);

      marker = new google.maps.Marker({
        map:map,
        animation: google.maps.Animation.DROP,
        position: parliament
      });
      google.maps.event.addListener(marker, 'click', toggleBounce);
    }

    function toggleBounce() {

      if (marker.getAnimation() != null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<br>
<br>

<div id="map-canvas"></div>
